* {
    font-family: "Roboto", sans-serif !important; /* 폰트 전체 적용 */
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F2F5;
    text-align: center;
}

h1 {
    background-color: #eaeaea;
    color: black;
    padding: 20px 0;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}
/* 폼 스타일 */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 폼 그룹 스타일 */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

/* 라벨 스타일 */
.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* 인풋 스타일 */
.form-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #3c3c3c;
}

.weekly-button {
    padding: 10px 20px;
    margin: 0 10px;
    margin-top: 20px;
    background-color: #EBEBF2;
    color: #888899;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#loadingSpinner {
    display: none;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #E5E5E5;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#imageContainer {
    margin-top: 20px;
}

/* -------------- Image Log | Calendar 버튼 */

.tab-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tab-button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #F2F2F5;
    color: #9A9AAF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s, color 0.3s;
}

.tab-button.active {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 */
}

.tab-button:hover {
    background-color: #E5E5E5; /* 호버시 어둡게 */
    color: #000000; /* 호버시 글자색 */
}

/* -------------- Today | Histoy 버튼 */
.button-container {
    margin-top: 20px;
}

.action-button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: white;
    color: black;
    border: 1px solid #EBEBF2;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* 활성화된 버튼 스타일 */
.action-button.active {
    background-color: #000 !important; /* 검정색 배경 */
    color: white !important; /* 흰색 텍스트 */
    border-color: #000 !important; /* 검정색 테두리 */
}

/* 호버 효과 */
.action-button:hover {
    background-color: #f0f0f0; /* 밝은 회색 배경 */
    border-color: #ccc; /* 기본 테두리 색상 */
}

/* -------------- */

.tab-content {
    max-width: 600px;
    margin: 20px auto;
    text-align: left;
    display: none;
}

#calendar {
    display: block;
}


h2 {
    margin-top: 40px;
    font-size: 20px;
}

/* --------------이미지 로그 */

#logContainer {
    max-width: 600px;
    margin: 20px auto;
    text-align: left;
}

.log-date-group {
    margin-bottom: 20px;
    text-align: left;
    font-size: 16px;
    color: #333;
}

.log-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 12px 0;
    background-color: white;
    border-radius: 10px;
    transition: box-shadow 0.3s;
}

.log-content {
    display: flex;
    align-items: center;
}

.log-item img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.log-details {
    flex-grow: 1;
    text-align: left;
}

.log-details p {
    margin: 5px 0;
    color: #3D3D51;
    font-size: 14px;
}

@media (max-width: 600px) {
.log-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.log-content img {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* border-radius: 8px; */
}

.log-details {
    width: 100%;
}

.log-details p {
    margin: 5px 0;
    color: #3D3D51;
    font-size: 14px;
}
}

.toggle-prompt-button {
    background-color: #F2F2F5;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    color: #9A9AAF;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.toggle-prompt-button:hover {
    background-color: #E5E5E5;
    color: #333;
}


/*메모 인풋 필드*/
/* .memo-input-container {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
} */

.memo-input-content {
    background-color: #fefefe;
    margin-top: 10px;
    /* padding: 20px;
    border: 1px solid #888; */
    width: 80%;
    max-width: 400px;
    /* border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    position: relative;
}

.memo-input-content textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    min-height: 100px;
}

.memo-input-content button {
    padding: 5px 10px;
    margin-top: 5px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.memo-input-content button:hover {
    background-color: #3c3c3c;
}

/*---------- 캘린더 */
#calendar {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* 캘린더 헤더 스타일 */
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.calendar-header h2 {
    margin: 0;
    font-size: 20px;
}

.calendar-header button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* 요일 헤더 스타일 */
.calendar-grid div:nth-child(-n+7) {
    font-weight: bold;
    color: #999;
    margin-bottom: 10px;
}

/* 캘린더 그리드 스타일 */
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 10px;
}

/* 캘린더 셀 스타일 */
.calendar-cell {
    position: relative;
    height: 100px; /* 높이를 늘려 이미지가 더 잘 보이게 */
    padding: 10px;
    background: #f9f9f9;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    color: #666;
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 중앙 정렬 */
    justify-content: space-between; /* 공간 분배 */
}

.calendar-cell .date {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.calendar-cell .image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 6px;
    flex-grow: 1; /* 이미지 컨테이너가 남은 공간을 차지하도록 */
    display: flex; /* 추가 */
    justify-content: center; /* 추가 */
    align-items: center; /* 추가 */
}

.calendar-cell img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지를 컨테이너에 맞게 조정, 비율을 유지하며 잘릴 수 있음 */
    border-radius: 6px;
    transition: transform 0.3s;
}

.calendar-cell img:hover {
    transform: scale(1.1); /* 호버 시 확대 효과 */
}

/* 모바일 스타일링 */
@media (max-width: 600px) {
    .calendar-cell {
        height: 80px; /* 모바일에서 높이를 줄임 */
        padding: 5px;
    }

    .calendar-cell .image-container {
        width: 100%; /* 컨테이너 너비를 조정 */
        height: 80%; /* 컨테이너 높이를 조정 */
        border-radius: 6px; /* 둥근 모서리를 줄임 */
    }

    .calendar-cell img {
        border-radius: 6px; /* 이미지를 네모나게 */
    }
}

.navigate-buttons {
    display: flex;
    justify-content: center; /* 모든 버튼들을 중앙에 정렬 */
    align-items: center;
    margin-bottom: 20px;
    position: relative; /* 상대적 위치 설정 */
}

.navigate-button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 12px;
    margin: 0 10px;
    transition: background-color 0.3s, color 0.3s;
}

/* .navigate-button:hover {
    background-color: #4c4c4c; 호버 시 배경 색상 변경
    color: #fff; 호버 시 글자 색상 변경
} */

.navigate-button.back {
    font-size: 12px;
    padding: 5px 10px;
    position: absolute; /* 절대 위치 설정 */
    left: 0; /* 왼쪽에 위치 */
}

.nav-buttons {
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    align-items: center;
}



.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 25px; 
    padding: 10px 20px; /* 텍스트에 맞게 패딩 조정 */
    font-size: 16px; 
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.floating-button:hover {
    background-color: #313131;
}

.modal {
    display: none; /* 숨겨진 상태로 시작 */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 80vh; /* 최대 높이 설정 */
    overflow: auto; /* 내부 스크롤 활성화 */
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* 모달 닫기 버튼 스타일 */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
